// ion-content {
//     --ion-color-primary: #191970 !important;
// }
ion-content {
    --background: midnightblue;
    ion-card-title {
        color: black !important;
    }
    ion-card-subtitle {
        color: black !important;
    }
}