<ion-header>
  <ion-toolbar color="midnightblue">
    <ion-title>Notícias Recentes</ion-title>
    <ion-button slot="end" fill="clear" size="small" href="#">
      <ion-icon name="refresh"></ion-icon>
    </ion-button>
    <ion-button (click)="hideSearchf()" slot="end" size="small" fill="clear">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content color="light2">
  <ion-searchbar [(ngModel)]="pesquisa" (keyup.enter)="Data()" [hidden]="hideSearch" placeholder="Procurar"></ion-searchbar>
  <ion-card *ngFor="let article of data?.articles">

    <ion-img [src]="article.urlToImage"></ion-img>

    <ion-card-content>

      <ion-card-subtitle>{{article.publishedAt | date: 'dd/MM/yyyy H:mm'}}</ion-card-subtitle>
      <ion-card-title mode="md"><strong>{{article.title}}</strong></ion-card-title>

      <p id="description">{{article.description}}</p>



    </ion-card-content>
    <ion-item lines="none" href="{{article.url}}">
      <ion-label color="light" class="site" text-lowercase>
        <h4><strong>{{article.source.name}}</strong></h4>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>