
ion-header {
    ion-button {
        color: white;
        --color-activated: grey;
        --color-focused: white;
        }

}
ion-content {
    ion-card-title {
        color: black;
    }
    #title2 {
        color: grey;
    }
    ion-card-subtitle {
        color: grey;
    }
    #subtitle2 {
        color: white;
    }
    ion-item {
        --background: rgb(170, 169, 169);
    }
    #description {
        padding-top: 10px;
        color: black;
    }
}
ion-label.site {
    text-decoration: underline; 
}