<ion-app style="background: #fcfcfc;">
  <ion-header>
    <ion-toolbar color="midnightblue">
      <ion-title>Notícias Recentes</ion-title>
      <ion-button (click)="hideSearchf()" (click)="scrollTop()" slot="end" size="small" fill="clear">
        <ion-icon name="search" *ngIf="visible"></ion-icon>
        <ion-icon name="arrow-dropup" mode="md" *ngIf="!visible" class="animated rotateIn fast2"></ion-icon>
      </ion-button>
    </ion-toolbar>

  </ion-header>
  <ion-content [ngClass]="this.hideAll ? 'dark' : 'light'">
    <ion-refresher slot="fixed" (ionRefresh)="dataRefresh($event)">
      <ion-refresher-content ></ion-refresher-content>
    </ion-refresher>

    <ion-searchbar [(ngModel)]="pesquisa" (keyup.enter)="dataSearch($event)" [hidden]="hideSearch"
      placeholder="Procurar" class=searchB>
    </ion-searchbar>
    <ion-card *ngFor="let article of data?.articles" class="animated fadeIn fast" (click)="goToArticle(article)">

      <ion-img [src]="article.urlToImage" alt="esse artigo não tem foto"></ion-img>

      <ion-card-content>

        <ion-card-subtitle>{{article.publishedAt | date: 'dd/MM/yyyy H:mm'}}</ion-card-subtitle>
        <ion-card-title mode="md"><strong>{{article.title}}</strong></ion-card-title>

        <p id="description">{{article.description}}</p>



      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app>

<!-- Dark mode -->

<!-- <ion-app style="background: #222428" [hidden]="showDarkAll">
  <ion-header>
    <ion-toolbar color="midnightblue">
      <ion-title>Notícias Recentes</ion-title>
      <ion-button (click)="hideSearchf()" (click)="scrollTop()" slot="end" size="small" fill="clear">
        <ion-icon name="search" *ngIf="visible"></ion-icon>
        <ion-icon name="arrow-dropup" mode="md" *ngIf="!visible" class="animated rotateIn fast2"></ion-icon>
      </ion-button>
    </ion-toolbar>

  </ion-header>
  <ion-content color="dark" id="2">
    <ion-refresher slot="fixed" (ionRefresh)="dataRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-searchbar color="medium6" [(ngModel)]="pesquisa" (keyup.enter)="dataSearch($event)" [hidden]="hideSearch"
      placeholder="Procurar">
    </ion-searchbar>
    <ion-card *ngFor="let article of data?.articles" class="animated fadeIn fast" style="background: #000000" (click)="goToDarkArticle(article)">

      <ion-img [src]="article.urlToImage"></ion-img>

      <ion-card-content>

        <ion-card-subtitle id="subtitle2">{{article.publishedAt | date: 'dd/MM/yyyy H:mm'}}</ion-card-subtitle>
        <ion-card-title mode="md" id="title2"><strong>{{article.title}}</strong></ion-card-title>

        <p id="description2">{{article.description}}</p>



      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-app> -->