<ion-header>
  <ion-toolbar color="midnightblue">
    <ion-buttons slot="start">
      <ion-back-button text=" "></ion-back-button>
    </ion-buttons>
    <ion-title text-lowercase>{{article.source.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <div class="title">
    <p><strong>{{article.title}}</strong></p>
  </div>
  <ion-img [src]="article.urlToImage" alt="esse artigo não tem foto"></ion-img>
  <h5 style="color: grey;" class="horas">{{article.publishedAt | date: 'dd/MM/yyyy H:mm'}}</h5>
  <p id="description">{{article.content}}</p>

  <ion-button color="medium" fill="clear" (click)="openArticle()">
    ver mais...
  </ion-button>
</ion-content>