ion-content.center {
  text-align: center;
  --background:  rgba(255, 255, 255, 0.945);

  h5 {
    margin-top: 7px;
    margin-left: 16px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    --color: #666;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }
}
.title {
  background: linear-gradient(351deg, rgb(173, 223, 226) 20%, rgba(255, 255, 255, 0.945));
  p {
    padding: 16px;
    margin: 0;
  }
}
p {
  padding: 0 16px;
  font-size: 20px;
  color: black;
  font-family: "Bree Serif", serif;
}
ion-img {
  border-top: 4px solid #101046;
  border-bottom: 4px solid #101046;

}
  #description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }