ion-content.center {
  text-align: center;
  h5 {
    margin-top: 7px;
    margin-left: 4px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    --color: #666;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }
}
p {
  font-size: 20px;
  color: black;
  font-family: "Bree Serif", serif;
}
  #description {
    margin-left: 16px;
    margin-right: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }