.titulo {
  font-size: 16px;
  font-family: "Bree Serif", serif;
}
.active {
  display: block;
}
.inactive {
  display: none;
}

.light {
  --background: #d6d7da;
  ion-list {
    background: #d6d7da;

    ion-card-title {
      color: black;
    }
    ion-card-subtitle {
      color: grey;
    }
    #description {
      padding-top: 10px;
      color: black;
    }
  }
}
.dark {
  --background: #222428;
  ion-list {
    ion-card {
      background: black;
    }
    background: #222428;

    ion-card-title {
      color: grey;
    }
    ion-card-subtitle {
      color: white;
    }
    #description {
      padding-top: 10px;
      color: grey;
    }
    ion-item {
      --background: rgb(70, 70, 70);
      ion-label {
        color: white;
      }
    }
  }
}

  ion-slides {
    padding-top: 0px;      
    --progress-bar-background-active: midnightblue;
    --progress-bar-background: lightblue;
    --progress-bar-background-active: midnightblue;
    
  }

