<ion-header>
  <ion-toolbar color="midnightblue">
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="this.hideAll ? 'dark' : 'light'">
  <ion-list>

    <!-- Notícias Esportes -->

    <ion-item lines="full" (click)="appearBRE()">
      <ion-label class="titulo">
        Esportes
      </ion-label>
      <ion-icon name="arrow-dropdown" *ngIf="nBRE"></ion-icon>
      <ion-icon name="arrow-dropright" *ngIf="!nBRE"></ion-icon>
    </ion-item>

    <ion-slides pager [options]="slideOpts" [ngClass]="this.nBRE ? 'active' : 'inactive'">
      <ion-slide *ngFor="let article of databre?.articles">
        <ion-card class="animated fadeIn fast2">

          <ion-img [src]="article.urlToImage"></ion-img>

          <ion-card-content>

            <ion-card-subtitle style="position: initial;">{{article.publishedAt | date: 'dd/MM/yyyy H:mm'}}
            </ion-card-subtitle>
            <ion-card-title mode="md"><strong>{{article.title}}</strong></ion-card-title>

            <p id="description">{{article.description}}</p>

          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <!-- Tecnologia -->

    <ion-item lines="full" (click)="appearTEC()">
      <ion-label class="titulo">
        Tecnologia
      </ion-label>
      <ion-icon name="arrow-dropdown" *ngIf="nTEC"></ion-icon>
      <ion-icon name="arrow-dropright" *ngIf="!nTEC"></ion-icon>
    </ion-item>

    <ion-slides pager [options]="slideOpts" [ngClass]="this.nTEC ? 'active' : 'inactive'">
      <ion-slide *ngFor="let article of datatec?.articles">
        <ion-card class="animated fadeIn fast2">

          <ion-img [src]="article.urlToImage"></ion-img>

          <ion-card-content>

            <ion-card-subtitle>{{article.publishedAt | date: 'dd/MM/yyyy H:mm'}}</ion-card-subtitle>
            <ion-card-title mode="md"><strong>{{article.title}}</strong></ion-card-title>

            <p id="description">{{article.description}}</p>

          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <!-- Entretenimento -->

    <ion-item lines="full" (click)="appearENT()">
        <ion-label class="titulo">
          Entretenimento
        </ion-label>
        <ion-icon name="arrow-dropdown" *ngIf="nENT"></ion-icon>
        <ion-icon name="arrow-dropright" *ngIf="!nENT"></ion-icon>
      </ion-item>
  
      <ion-slides pager [options]="slideOpts" [ngClass]="this.nENT ? 'active' : 'inactive'">
        <ion-slide *ngFor="let article of dataent?.articles">
          <ion-card class="animated fadeIn fast2">
  
            <ion-img [src]="article.urlToImage"></ion-img>
  
            <ion-card-content>
  
              <ion-card-subtitle>{{article.publishedAt | date: 'dd/MM/yyyy H:mm'}}</ion-card-subtitle>
              <ion-card-title mode="md"><strong>{{article.title}}</strong></ion-card-title>
  
              <p id="description">{{article.description}}</p>
  
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>

    <!-- Saúde -->

    <ion-item lines="full" (click)="appearHLT()">
        <ion-label class="titulo">
          Saúde
        </ion-label>
        <ion-icon name="arrow-dropdown" *ngIf="nHLT"></ion-icon>
        <ion-icon name="arrow-dropright" *ngIf="!nHLT"></ion-icon>
      </ion-item>
  
      <ion-slides pager [options]="slideOpts" [ngClass]="this.nHLT ? 'active' : 'inactive'">
        <ion-slide *ngFor="let article of datahlt?.articles">
          <ion-card class="animated fadeIn fast2">
  
            <ion-img [src]="article.urlToImage"></ion-img>
  
            <ion-card-content>
  
              <ion-card-subtitle>{{article.publishedAt | date: 'dd/MM/yyyy H:mm'}}</ion-card-subtitle>
              <ion-card-title mode="md"><strong>{{article.title}}</strong></ion-card-title>
  
              <p id="description">{{article.description}}</p>
  
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>

    <!-- Notícias USA -->

    <ion-item lines="full" (click)="appearUSA()" style="--border-width: 0 0 4.55px 0;">
      <ion-label class="titulo">
        United States
      </ion-label>
      <ion-icon name="arrow-dropdown" *ngIf="nUSA"></ion-icon>
      <ion-icon name="arrow-dropright" *ngIf="!nUSA"></ion-icon>
    </ion-item>

    <ion-slides pager [options]="slideOpts" [ngClass]="this.nUSA ? 'active' : 'inactive'">
      <ion-slide *ngFor="let article of datausa?.articles">
        <ion-card class="animated fadeIn fast2">

          <ion-img [src]="article.urlToImage"></ion-img>

          <ion-card-content>

            <ion-card-subtitle>{{article.publishedAt | date: 'dd/MM/yyyy H:mm'}}</ion-card-subtitle>
            <ion-card-title mode="md"><strong>{{article.title}}</strong></ion-card-title>

            <p id="description">{{article.description}}</p>

          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

  </ion-list>
</ion-content>