.titulo {
  font-size: 16px;
  font-family: "Bree Serif", serif;
}
.active {
  display: block;
}
.inactive {
  display: none;
}

.light {
  --background: #d6d7da;
  ion-list {
    background: #d6d7da;

    ion-card-title {
      color: black;
    }
    ion-card-subtitle {
      color: grey;
    }
    #description {
      padding-top: 10px;
      color: black;
    }
  }

  ion-slides {
    padding-top: 0px;      
    --progress-bar-background-active: midnightblue;
    --progress-bar-background: lightblue;
    --progress-bar-background-active: midnightblue;
    
  }
}
