<ion-header>
  <ion-toolbar color="midnightblue">
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- <app-footer-loading loading={{load}></app-footer-loading> -->
<ion-content [ngClass]="this.hideAll ? 'dark' : 'light'">
  <ion-list>

    <!-- Notícias Esportes -->

    <ion-item lines="none" (click)="appearBRE()">
      <ion-label class="titulo">
        Esportes
      </ion-label>
      <ion-icon name="close" *ngIf="nBRE" class="animated rotateIn fast2"></ion-icon>
      <ion-icon name="add" *ngIf="!nBRE"></ion-icon>
    </ion-item>

    <ion-slides pager [options]="slideOpts" [ngClass]="this.nBRE ? 'active' : 'inactive'">
      <ion-slide *ngFor="let article of databre?.articles">
        <ion-card class="animated fadeIn fast2">

          <ion-img *ngIf="article.urlToImage !== null" [src]="article.urlToImage" alt="esse artigo não tem imagem"></ion-img>
          <img *ngIf="article.urlToImage == null || undefined" src={{imgBase}}>

          <ion-card-content>

            <ion-card-subtitle style="position: initial;">{{article.publishedAt | date: 'dd/MM/yyyy H:mm'}}
            </ion-card-subtitle>
            <ion-card-title mode="md"><strong>{{article.title}}</strong></ion-card-title>

            <p id="description">{{article.description}}</p>
            <ion-button color="medium" fill="clear" href="{{article.url}}">
              ver mais...
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <!-- Tecnologia -->

    <ion-item lines="none" (click)="appearTEC()">
      <ion-label class="titulo">
        Tecnologia
      </ion-label>
      <ion-icon name="close" *ngIf="nTEC" class="animated rotateIn fast2"></ion-icon>
      <ion-icon name="add" *ngIf="!nTEC"></ion-icon>
    </ion-item>

    <ion-slides pager [options]="slideOpts" [ngClass]="this.nTEC ? 'active' : 'inactive'">
      <ion-slide *ngFor="let article of datatec?.articles">
        <ion-card class="animated fadeIn fast2">

          <ion-img [src]="article.urlToImage" placeholder="../assets/icon/icon.png" alt="esse artigo não tem imagem"></ion-img>

          <ion-card-content>

            <ion-card-subtitle>{{article.publishedAt | date: 'dd/MM/yyyy H:mm'}}</ion-card-subtitle>
            <ion-card-title mode="md"><strong>{{article.title}}</strong></ion-card-title>

            <p id="description">{{article.description}}</p>
            <ion-button color="medium" fill="clear" href="{{article.url}}">
              ver mais...
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <!-- Entretenimento -->

    <ion-item lines="none" (click)="appearENT()">
        <ion-label class="titulo">
          Negócios
        </ion-label>
        <ion-icon name="close" *ngIf="nENT" class="animated rotateIn fast2"></ion-icon>
        <ion-icon name="add" *ngIf="!nENT"></ion-icon>
      </ion-item>
  
      <ion-slides pager [options]="slideOpts" [ngClass]="this.nENT ? 'active' : 'inactive'">
        <ion-slide *ngFor="let article of dataent?.articles">
          <ion-card class="animated fadeIn fast2">
  
            <ion-img [src]="article.urlToImage" placeholder="../assets/icon/icon.png" alt="esse artigo não tem imagem"></ion-img>
  
            <ion-card-content>
  
              <ion-card-subtitle>{{article.publishedAt | date: 'dd/MM/yyyy H:mm'}}</ion-card-subtitle>
              <ion-card-title mode="md"><strong>{{article.title}}</strong></ion-card-title>
  
              <p id="description">{{article.description}}</p>
              <ion-button color="medium" fill="clear" href="{{article.url}}">
              ver mais...
            </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>

    <!-- Saúde -->

    <ion-item lines="none" (click)="appearHLT()">
        <ion-label class="titulo">
          Saúde
        </ion-label>
        <ion-icon name="close" *ngIf="nHLT" class="animated rotateIn fast2"></ion-icon>
        <ion-icon name="add" *ngIf="!nHLT"></ion-icon>
      </ion-item>
  
      <ion-slides pager [options]="slideOpts" [ngClass]="this.nHLT ? 'active' : 'inactive'">
        <ion-slide *ngFor="let article of datahlt?.articles">
          <ion-card class="animated fadeIn fast2">
  
            <ion-img [src]="article.urlToImage" placeholder="../assets/icon/icon.png" alt="esse artigo não tem imagem"></ion-img>
  
            <ion-card-content>
  
              <ion-card-subtitle>{{article.publishedAt | date: 'dd/MM/yyyy H:mm'}}</ion-card-subtitle>
              <ion-card-title mode="md"><strong>{{article.title}}</strong></ion-card-title>
  
              <p id="description">{{article.description}}</p>
              <ion-button color="medium" fill="clear" href="{{article.url}}">
              ver mais...
            </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>

    <!-- Notícias USA -->

    <ion-item lines="none" (click)="appearUSA()">
      <ion-label class="titulo">
        United States
      </ion-label>
      <ion-icon name="close" *ngIf="nUSA" class="animated rotateIn fast2"></ion-icon>
      <ion-icon name="add" *ngIf="!nUSA"></ion-icon>
    </ion-item>

    <ion-slides pager [options]="slideOpts" [ngClass]="this.nUSA ? 'active' : 'inactive'">
      <ion-slide *ngFor="let article of datausa?.articles">
        <ion-card class="animated fadeIn fast2">

          <ion-img [src]="article.urlToImage" placeholder="../assets/icon/icon.png" alt="esse artigo não tem imagem"></ion-img>

          <ion-card-content>

            <ion-card-subtitle>{{article.publishedAt | date: 'dd/MM/yyyy H:mm'}}</ion-card-subtitle>
            <ion-card-title mode="md"><strong>{{article.title}}</strong></ion-card-title>

            <p id="description">{{article.description}}</p>
            <ion-button color="medium" fill="clear" href="{{article.url}}">
              ver mais...
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-list>
  <ion-fab size="large" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="midnightblue"><ion-icon name="add" (click)="options()"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
