.titulo {
  font-size: 16px;
  font-family: "Bree Serif", serif;
}
.active {
  display: block;
}
.inactive {
  display: none;
}

.light {
  --background: rgba(255, 255, 255, 0.945);
  ion-list {
    padding: 0 16px;
    background: rgba(6, 0, 77, 0);
    ion-item {
      margin-bottom: 16px;
      border-radius: 16px;
      box-shadow: 5px 5px 10px 1px rgba(102, 102, 102, 0.336);
      --background: linear-gradient(351deg, rgb(173, 223, 226) 20%, rgba(255, 255, 255, 0.945));
      &:first-child {
        margin-top: 16px;
      }
    }
    ion-card {
      background: rgba(255, 255, 255, 0.945);
      ion-img {
        --min-height: 50%;
      }
    }
    ion-card-title {
      color: black;
    }
    ion-card-subtitle {
      color: grey;
    }
    #description {
      padding-top: 10px;
      color: black;
    }
  }
  ion-fab {
    box-shadow: 5px 4px 10px #6d6d6d;
    border-radius: 50%;
  }
}
.dark {
  --background: rgb(5, 5, 5);
  ion-list {
    padding: 0 16px;
    background: rgba(6, 0, 77, 0);
    ion-item {
      margin-bottom: 16px;
      border-radius: 16px;
      box-shadow: 5px 5px 10px 1px rgb(0, 0, 0);
      &:first-child {
        margin-top: 16px;
      }
    }
    ion-card {
      background: linear-gradient(351deg, rgb(0, 0, 0), rgb(11, 6, 61) 40%);
      ion-img {
        --min-height: 50%;
      }
    }

    ion-card-title {
      color: grey;
    }
    ion-card-subtitle {
      color: white;
    }
    #description {
      padding-top: 10px;
      color: grey;
    }
    ion-item {
      color: white;
      --background:  linear-gradient(351deg, rgb(0, 0, 0), rgb(11, 6, 61) 40%);
    }
    ion-fab {
      box-shadow: 5px 4px 10px #6d6d6d;
      border-radius: 50%;
    }
  }
}

  ion-slides {
    padding-top: 0px;      
    --progress-bar-background-active: midnightblue;
    --progress-bar-background: lightblue;
    --progress-bar-background-active: midnightblue;
    
  }