ion-content {
    --overflow: hidden;
    ion-label {
        font-family: 'Roboto', sans-serif;
    }
}
ion-footer {
    ion-item {
            ion-label {
                font-size: 12px;
                text-align: center;           
            }
        }
    }