<ion-header>
  <ion-toolbar color="midnightblue">
    <ion-title>
      <strong>Sobre</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light2" [hidden]="lightM">
  <ion-item color="medium6" class="nome" lines="none">
    <h2><strong>E aí, {{nome}}</strong></h2>
  </ion-item>
  <ion-list style="padding: 0px;">
    <ion-item lines="none" color="medium5">
      <ion-label color="light">
        <h2><b>Digite seu nome:</b></h2>
      </ion-label>
      <ion-input [(ngModel)]="nome" placeholder="Filomina" type="text" maxlength="15" (keyup.enter)='nameFunc()'></ion-input>
      <ion-button fill="clear" slot="end">
      </ion-button>
    </ion-item>
    <ion-item lines="none" color="medium4" (click)="darkMode()">
      <ion-label color="light">
        <h2><b>Modo escuro</b></h2>
      </ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon slot="icon-only" name="bulb" mode="md" color="light" *ngIf="bulb"></ion-icon>
        <ion-icon slot="icon-only" name="bulb" mode="md" color="light" *ngIf="!bulb"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-list-header color="medium3" style="color: midnightblue;">
      Sobre:
    </ion-list-header>
    <ion-item lines="none" color="light2">
      <ion-label color="dark" text-wrap>
        <h2><b>O APPN tem como fronte propagar democraticamente e de forma gratuita, o acesso ás notícias mais recentes.</b></h2>
      </ion-label>
      <ion-button fill="clear" slot="start">
        <ion-icon slot="icon-only" name="paper" mode="md" color="dark"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="none" color="medium2">
      <ion-label color="light">
        <h2><b>Notificações</b></h2>
      </ion-label>
      <ion-toggle disabled color="midnightblue" [(ngModel)]="notifications"></ion-toggle>
      <!-- <ion-button fill="clear" slot="end">
        <ion-icon slot="icon-only" name="planet" mode="md" color="dark"></ion-icon>
      </ion-button> -->
    </ion-item>
    <ion-item lines="none" color="medium" (click)="openInstagram()">
      <ion-label color="light">
        <h2><b>Yuri Nekan</b></h2>
      </ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon slot="icon-only" name="logo-instagram" mode="md" color="dark"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-label class="v" color="dark">
      v: 0.0.1
    </ion-label>
</ion-content>

<ion-footer [hidden]="lightM">
  <ion-item href="https://newsapi.org/" lines="none" color="dark">
      <ion-label>
        <strong>POWERED BY APINEWS.ORG</strong>
      </ion-label>
  </ion-item>
</ion-footer>

<!-- Dark Mode -->

<ion-content color="dark" [hidden]="darkM">
  <ion-item color="medium" class="nome" lines="none">
  <h2><strong style="color: black">E aí, {{nome}}</strong></h2>
  </ion-item>
  <ion-list style="padding: 0px;">
    <ion-item lines="none" color="medium2">
      <ion-label color="dark">
        <h2><b>Digite seu nome:</b></h2>
      </ion-label>
      <ion-input [(ngModel)]="nome" placeholder="Filomina" type="text" maxlength="15" (keyup.enter)='nomeFunc()' color="dark"></ion-input>
      <ion-button fill="clear" slot="end">
      </ion-button>
    </ion-item>
    <ion-item lines="none" color="medium3" (click)="darkMode()">
      <ion-label color="dark">
        <h2><b>Modo escuro</b></h2>
      </ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon slot="icon-only" name="bulb" mode="md" color="dark" *ngIf="bulb"></ion-icon>
        <ion-icon slot="icon-only" name="bulb" mode="md" color="light" *ngIf="!bulb"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-list-header color="medium4" style="color: midnightblue;">
      Sobre:
    </ion-list-header>
    <ion-item lines="none" color="dark">
      <ion-label color="light2" text-wrap>
        <h2><b>O APPN tem como fronte propagar democraticamente e de forma gratuita, o acesso ás notícias mais recentes.</b></h2>
      </ion-label>
      <ion-button fill="clear" slot="start">
        <ion-icon slot="icon-only" name="paper" mode="md" color="light"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="none" color="medium5">
      <ion-label color="dark">
        <h2><b>Notificações</b></h2>
      </ion-label>
      <ion-toggle disabled color="midnightblue" [(ngModel)]="notifications"></ion-toggle>
      <!-- <ion-button fill="clear" slot="end">
        <ion-icon slot="icon-only" name="planet" mode="md" color="light"></ion-icon>
      </ion-button> -->
    </ion-item>
    <ion-item lines="none" color="medium6" (click)="openInstagram()">
      <ion-label color="dark">
        <h2><b>Yuri Nekan</b></h2>
      </ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon slot="icon-only" name="logo-instagram" mode="md" color="light"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-label class="v">
  v: 0.0.1
  </ion-label>

</ion-content>

<ion-footer [hidden]="darkM">
  <ion-item href="https://newsapi.org/" lines="none" color="darkreal" style="--ion-color-darkreal-shade: #353535;">
      <ion-label color="light2">
        <strong>POWERED BY APINEWS.ORG</strong>
      </ion-label>
  </ion-item>
</ion-footer>

