<ion-header>
  <ion-toolbar color="midnightblue">
    <ion-title>
      <strong>Sobre</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light2">
  <ion-item color="dark" class="nome">
    <h2><strong>E aí, {{nome}}</strong></h2>
  </ion-item>
  <ion-list style="padding: 0px;">
    <ion-item lines="none" color="medium5">
      <ion-label color="light">
        <h2><b>Digite seu nome:</b></h2>
      </ion-label>
      <ion-input [(ngModel)]="nome" placeholder="Filomina" type="text" maxlength="15" (keyup.enter)='nomeFunc()'></ion-input>
      <ion-button fill="clear" slot="end">
        <ion-icon slot="icon-only" name="planet" mode="md" color="dark"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="none" color="medium4">
      <ion-label color="light">
        <h2><b>Modo escuro</b></h2>
      </ion-label>
      <ion-button fill="clear" slot="end" href="#" (click)="darkMode()">
        <ion-icon slot="icon-only" name="bulb" mode="md" color="light"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="none" color="medium3">
      <ion-label color="light">
        <h2><b>Opção b</b></h2>
      </ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon slot="icon-only" name="paper" mode="md" color="dark"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="none" color="medium2">
      <ion-label color="light">
        <h2><b>Opção c</b></h2>
      </ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon slot="icon-only" name="planet" mode="md" color="light"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item lines="none" color="medium">
      <ion-label color="light">
        <h2><b>Opção d</b></h2>
      </ion-label>
      <ion-button fill="clear" slot="end">
        <ion-icon slot="icon-only" name="paper" mode="md" color="dark"></ion-icon>
      </ion-button>
    </ion-item>


  </ion-list>




</ion-content>

<ion-footer>
  <ion-item href="https://newsapi.org/" lines="none" color="dark" detail>
    <ion-button fill="clear" expand="full" color="light">
      <ion-label class="powered">
        <h3><strong>POWERED BY APINEWS.ORG</strong></h3>
      </ion-label>
    </ion-button>
  </ion-item>

</ion-footer>